@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Games Collection</h1>
    <p><b>Medii de programare avansate</b> - Proiect realizat de Pui Madalina-Maria, E-Business, Anul I</p>
</div>
